#listTable {
	width: 100%;
	overflow: scroll;
	margin: 0 auto;
	border: 1px solid black;
	border-right: 1px solid black;
	spacing: 10px;
}

th, td {
	padding: 10px;
	spacing: 10px;
	
}

th {
	background: #acacac;	
	color: rgba(0,0,0,0.5);

}

tr:nth-child(even) {
	background: #0f0f0f0;
}

tr:nth-child(odd) {
	background: #FFF;
}