body {
  font-family: "Helvetica CE", sans-serif, serif;
  background-color:#fff;
  margin:0;
  max-width: 100%;
}
 
header {
  padding:0 0 360px 0;
  background: url(top.jpg) no-repeat;
  background-position: center;
  background-color: #2c714c;
}
 
.container {
  width:80%; 
  margin:0 auto;
}
 
#title {
  font-size:48pt;
}

nav {
	margin-left: auto;
	margin-right: auto;
	left: 50%;
	margin-left: -640px;
	position: absolute;
}

nav ul {
	background: rgba(0, 0, 0, 0.3);
	list-style: none;
	margin-top: 0;
	height: 30px;
	width: 1280px;
	display: inline-table;
	text-align: center;
	padding: 0 0;
	}
	
nav ul:after {
	content: ""; 
	clear: both; 
	display: block;
	}
	
nav ul li {
	float: left;
	margin-left:auto;
	margin-right:auto;
	width: 16.6666666667%;
	height: 30px;
	color: #ffffff;
	}
	
nav ul li:hover {
	background: rgba(0, 0, 0, 0.5);
	}
	
nav ul li:hover a {
	color: #ffffff;
	text-shadow: #aaa 1px 1px 1px;
	height: 30px;
	text-decoration: none;
	}
	
nav ul li a {
	display: block;		
	padding-top: 6px;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	color: #ffffff;
	text-decoration: none;
	}
	
.sub {
	visibility: hidden;
	position: relative;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	}

nav ul li:hover > .sub {
	visibility: visible;
	background: rgba(0, 0, 0, 0.8);
	}
	
.submenu {
	line-height: 18px;
}

.submenuEnd {
	line-height: 17px;
}
	
.submenu a:hover {
	background-color: rgba(0, 150, 100, 0.8);
}

.submenuEnd a:hover {
	background-color: rgba(0, 150, 100, 0.8);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
	
#welcome {
	padding:104px 0px 0; 
	font-size: 72px;
	text-align:center;
	color:  rgba(0, 150, 100, 0.8);
}

.accordion {
    margin: 0 auto;
    padding:5px;
    height:40px;
	width: 800px;
	border-radius: 10px;
    border-top:#f0f0f0 1px solid;
	background-color: #393939;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
	text-align: center;
    color: #fff;
    font-size:1em;
}

.accordion-open {
    background:#000;
    color: #fff;
}

div.content {
    background:#f0f0f0;
	margin: 0 auto;
	width: 800px;
	margin-top: 0;
	padding: 5px;
	border-radius: 10px;
    font-size:.9em;
    font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#subtext {
	padding:0 0px 36px; 
	font-size: 20px;
	text-align:center;
	color:  #393939;
}

#mission {
	font-size: 24px;
	color:  #8FA36C;
	text-align: center;
	margin-bottom: 60px;
}

#member {
	font-size: 24px;
	color:  #8FA36C;
	text-align: left;
	margin-bottom: 60px;
	line-height:1.25;
}

#what-bg{
	padding:60px 0;
	background-color: #6B8E23;
}

#what{
	font-size: 48px;
	color: #fff;
	text-decoration: underline;
	text-align: center;
}
	
#three-columns {
	 text-align:center;
}
	
.column {
	width:300px;
	margin:60px 30px;
	display:inline-block; 
	font-size: 36px;
	color: rgb( 205, 205, 205 );    
	}
	
article {	
	font-size: 24px;
	//text-align: left;
	margin: 10px 0;
}

#footer-columns {
	width:  100%;
	background-color: #393939;
	text-align:center;
	display:inline-block;
}
	
.columnone {
	width:250px;
	margin:60px 30px;
	display:inline-block; 
	font-size: 36px;
	color: rgb( 205, 205, 205 );    
	}
	
.columntwo {
	width:700px;
	margin:60px 30px;
	display:inline-block; 
	font-size: 36px;
	color: rgb( 205, 205, 205 );    
}
#copy {
	background-color: #2c2c2c;
	width:100%;
	position:relative;
	bottom:0;
	left:0;
}

#copyright {
	font-size: 18px;
	color: rgb( 205, 205, 205 );
	text-align: center;
	padding:15px 0; /*again giving it some air at the top and bottom*/
}
